# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
media/

# Environment — Most Important!
**/.env
.env
.venv/
venv/
env/

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini

# Python egg
*.egg-info/
dist/
build/