{% extends 'base.html' %}

{% block title %} Password Reset From Key {% endblock %}

{% block content %}
    <main class="page-center d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-11 col-sm-8 col-md-6 col-xl-4">

                    {% if token_fail %}
                        <div class="card shadow p-4">
                            <div class="invalid-icon">
                                <i class="bi bi-exclamation-circle-fill"></i>
                            </div>
                    
                            <h2 class="text-center my-4">Bad Token</h2>

                            <p class="card-text">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                            <div class="login-button">
                                <a href="{% url 'account_reset_password' %}" class="btn btn-danger col-12">Try Again</a>
                            </div>
                        
                        </div>


                    {% else %}

                        <div class="card shadow p-4">
                            <h2 class="text-center mb-4">Change Password</h2>
                            <form action="{{ action_url }}" class="" method="post">
                            {% csrf_token %}
                            <!-- Password -->
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-transparent">
                                    <i class="bi bi-lock-fill"></i>
                                </span>
                                <div class="form-floating">
                                    <input type="password" name="password1" class="form-control border-end-0" id="password1"
                                        placeholder="Password">
                                    <label for="password1">Password</label>
                                </div>
                                <!-- Eye Icon for Toggle -->
                                <span class="input-group-text bg-transparent border-start-0"
                                    onclick="togglePassword(this)" style="cursor: pointer;">
                                    <i class="ri-eye-off-fill"></i>
                                </span>
                            </div>
                            {% if form.password1.errors %}
                                <small class="text-danger ms-1 mb-2 d-block">
                                    {{ form.password1.errors|join:", " }}</small>
                            {% endif %}
                            <ul class="small text-muted mb-3 ps-3">
                                <li>Your password can’t be too similar to your other personal information.</li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be a commonly used password.</li>
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>

                            <!-- Confirm Password -->
                            <div class="input-group my-3">
                                <span class="input-group-text bg-transparent">
                                    <i class="bi bi-lock-fill"></i>
                                </span>
                                <div class="form-floating">
                                    <input type="password" name="password2" class="form-control border-end-0" id="password2"
                                        placeholder="Password">
                                    <label for="password2">Confirm Password</label>
                                </div>
                                <!-- Eye Icon for Toggle -->
                                <span class="input-group-text bg-transparent border-start-0"
                                    onclick="togglePassword(this)" style="cursor: pointer;">
                                    <i class="ri-eye-off-fill"></i>
                                </span>
                            </div>

                            {% if form.password2.errors %}
                                <small class="text-danger ms-1 mb-2 d-block">
                                    {{ form.password2.errors|join:", " }}</small>
                            {% endif %}
                            <div class="login-button mb-3">
                                <button class="btn btn-primary col-12">Change Password</button>
                            </div>
                            <div>
                                <a href="{% url 'account_login' %}" class="btn btn-outline-secondary col-12">Cancel</a>
                            </div>
                            </form>

                        </div>
    

                    {% endif %}
             
                    
                </div>
            </div>
        </div>

    </main>
{% endblock %}