{% extends 'base.html' %}

{% block title %} Password Reset {% endblock %}

{% block content %}
    <main class="page-center d-flex justify-content-center align-items-center">
        <div class="container ">
            <div class="row justify-content-center">

                <div class="col-11 col-sm-8 col-md-6 col-xl-4">
                     
                    <div class="card shadow p-4">
                        <h2 class="text-center mb-4">Password Reset</h2>
                        <form action="{% url 'account_reset_password' %}" method="POST">
                            {% csrf_token %}
                            <p class="card-text">Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.</p>
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-transparent">
                                    <i class="bi bi-person-fill"></i>
                                </span>
                                <div class="form-floating">
                                    <input type="email" name="email" class="form-control" id="floatingInputGroup1"
                                        placeholder="Email">
                                    <label for="floatingInputGroup1">Email address</label>
                                </div>
                            </div>
                            {% if form.email.errors %}
                                <small class="text-danger ms-1 mb-2 d-block">{{ form.email.errors|join:", " }}</small>
                            {% endif %}
                            
                            <div class="login-button">
                                <button type="submit" class="btn btn-primary col-12">Reset Password</button>
                            </div>
                        </form>

                        <div class="mt-4">
                            <small class="card-text">Please contact us if you have any trouble resetting your password.</small>
                        </div>
                        <hr>
                        <div class="text-center">
                            <small class="card-text">Remember Password? <a href="{% url 'account_login' %}">Login</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}