{% extends 'base.html' %}

{% block title %} Password Reset From Key Done {% endblock %}

{% block content %}
    <main class="page-center d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-11 col-sm-8 col-md-6 col-xl-4">
                    <div class="card shadow p-4">
                        <div class="verification-icon">
                            <i class="bi bi-check-circle-fill"></i>
                        </div>

                        <h2 class="text-center my-4">Change Password</h2>
                        <p class="card-text text-center">Your password is now changed.</p>
                        <div class="login-button">
                            <a href="{% url 'account_login' %}" class="btn btn-primary col-12">Back to Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}